PUID=1000
PGID=1000
TZ=America/Sao_Paulo

CONFIG_ROOT=/srv/docker
MEDIA_ROOT=/srv/midias
DOWNLOADS_ROOT=/cache_downloads
INCOMPLETE_ROOT=/cache_downloads_incomplete

JELLYFIN_PORT=8096
QBITTORRENT_PORT=8080
SONARR_PORT=8989
RADARR_PORT=7878
JACKETT_PORT=9117
BAZARR_PORT=6767
FLARESOLVERR_PORT=8191
